@import '../../assets/styles/variables';

:local {
  .Adress {
    width: 100%;
    line-height: 1.6;
  }
  .Text {
    color: $colorLinksLight;
    font-weight: 400;
    font-size: 15px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

}
